{% extends 'main.html' %}
{% load static %}
{% block content %}
    <section>
      <div class="container">
        <!-- login form  -->
        <div class="login-form">
          <center>
            <h1 class="f-title">Post a Job</h1>
            <p class="des">Hello, Lets post a job!</p>
          </center>
          <form action="" method="post">
            {% csrf_token %}
		        {{job_post_form}}
            <button class="ath">Post</button>
          </form>
        </div>
      </div>
    </section>
    {% endblock %}