@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --blue: #4d62d8;
  --lblue: #7281e0;
  --card: #fdfdfd;
  --shadow: #64646f17 0px 12px 29px 0px;
  --nav: #1b2436;
}
body {
  background: #f5f6f5;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}
nav {
  background: var(--nav);
  padding: 1em 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.logo h1 {
  color: white;
}
.logo {
  width: 200px;
}
img {
  width: 100%;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  color: white;
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 400;
}
.links .auth {
  margin-left: 30px;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  background: var(--blue);
  color: white;
  box-shadow: var(--shadow);
}
/* typo */
.typo {
  margin-top: 5em;
}
.title {
  font-size: 2.3rem;
  font-weight: 600;
}
.des {
  font-size: 1rem;
}
/* search bar */
.search-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  background-color: var(--blue);
  padding: 2em;
  border-radius: 8px;
  margin-top: 3em;
}
.search-bar input,
select {
  border: none;
  outline: none;
  height: 45px;
  padding: 0 15px;
  background: var(--lblue);
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
}
input::placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.search {
  color: var(--nav);
  font-size: 1.2rem;
  font-weight: 500;
}
/* post card */

.post {
  background: var(--card);
  border-radius: 8px;
  padding: 2em;
  box-shadow: var(--shadow);
  margin-top: 3em;
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 4fr;
  border-bottom: 3px solid var(--lblue);
}
.menu {
  display: none !important;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.post:last-child {
  margin-bottom: 5em;
}
.item {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.item:first-child {
  margin-left: 0;
}
.job-des {
  display: flex;
  align-items: center;
}

.item span {
  margin-right: 10px;
  font-size: 20px !important;
  color: gray;
}
.item p {
  font-size: 1rem;
  font-weight: 600;
  color: gray;
}
.apply {
  background: var(--blue);
  height: 45px;
  padding: 0 40px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.view {
  border: 1px solid var(--blue);
  background: transparent;
  color: var(--blue);
}
.job-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--blue);
}

/* pazination */

.pagination {
  max-width: 500px;
  height: 60px;
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 3em;
}
.pagination,
.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.pagination__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 350;
  height: 50px;
  border-radius: 9px;
  margin: 0 9px;
  overflow: hidden;
}
.pagination__item {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1.1rem;
}
.pagination__item > button,
.pagination__button {
  border: none;
  outline: none;
  stroke: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 9px;
  background: var(--lblue);
}
.pagination__item > button:hover,
.pagination__button:hover {
  background: var(--lblue);
  color: white;
}
.pagination__item > button {
  width: 45px;
  height: 45px;
  color: white;
}
.pagination--move-prev {
  -webkit-animation: pagination-move-prev 0.5s ease both;
  animation: pagination-move-prev 0.5s ease both;
}
.pagination--move-next {
  -webkit-animation: pagination-move-next 0.5s ease both;
  animation: pagination-move-next 0.5s ease both;
}
.pagination--move-top {
  -webkit-animation: pagination-move-top 0.5s ease both;
  animation: pagination-move-top 0.5s ease both;
}
.pagination__button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.pagination__item > button[data-level="target"] {
  background: var(--blue);
  color: white !important;
}
@-webkit-keyframes pagination-move-prev {
  from,
  0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}

@keyframes pagination-move-prev {
  from,
  0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes pagination-move-next {
  from,
  0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}
@keyframes pagination-move-next {
  from,
  0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes pagination-move-top {
  from,
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(10px);
  }
  to,
  100% {
    transform: translateY(0px);
  }
}
@keyframes pagination-move-top {
  from,
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(10px);
  }
  to,
  100% {
    transform: translateY(0px);
  }
}
.r2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.view-post {
  width: 80%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 5em auto;
  padding: 2em;
  white-space: pre-line! important;
}
.desc {
  max-height: 300px;
  overflow-y: scroll;
  margin: 2em 0;
  padding: 1em;
}
.desc::-webkit-scrollbar {
  width: 3px;
  background: #80808017;
}
.desc::-webkit-scrollbar-thumb {
  background: #4d62d8;
}
.jobtitle {
  font-size: 1.5rem;
  color: var(--nav);
  font-weight: 600;
  margin-bottom: 0.5em;
}
.it {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--lblue);
}
.it span {
  color: #1b2436c0;
}
@media (max-width: 991px) {
  .container {
    padding: 0 10px;
  }
  .search-bar {
    grid-template-columns: 1fr;
    padding: 1em;
    margin-top: 15vh;
  }
  .post {
    grid-template-columns: 1fr;
    padding: 1em;
  }
  .job-des {
    flex-direction: column;
    align-items: flex-start;
  }
  .item {
    margin-left: 0;
  }
  .pagination {
    width: 100%;
  }
  .apply {
    margin-top: 1em;
  }
  .search {
    height: 45px;
  }
  .links {
    height: 90vh;
    width: 100%;
    position: fixed;
    top: 10vh;
    left: 0;
    background: #000000d7;
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(15px);
    transform: translateX(100%);
    transition: 0.3s;
  }
  .active {
    transform: translateX(0%);
    transition: 0.3s;
  }
  .links a {
    margin-left: 0;
  }
  .auth {
    margin-left: 0 !important;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
  }
  nav .container {
    height: 100%;
  }
  .menu {
    font-size: 35px !important;
    display: block !important;
  }
  .logo {
    width: 150px;
  }
  .buttons {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .view-post {
    width: 100%;
    padding: 2em 1em;
    margin-top: 7em;
  }
  .jobtitle {
    font-size: 1.2rem;
  }
  .it {
    font-size: 1rem;
  }
}
.alert-success {
  background: #27ff6823;
  color: #18c501;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}
.alert-error {
  background: #ff27272a;
  color: #ff0000;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

.field_help_text{
  font-size: x-small;
  display: block;
  color: #737373;
}

button{
  cursor: pointer;
  }

  button#login_logout a {
    margin-left: 0;
    }